In [47]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.preprocessing import LabelBinarizer
from sklearn import utils
from sklearn import metrics
import numpy as np

In [13]:
a = pd.read_csv('~/Downloads/a.csv')
a = a.drop_duplicates()
features = a.filter(['reporting_airport', 'origin_destination', 
              'airline_name'])
target = a['average_delay_mins']
features.head(100)

,reporting_airport,origin_destination,airline_name
0,ABERDEEN,GDANSK,WIZZ AIR
1,ABERDEEN,WARSAW (CHOPIN),WIZZ AIR
2,ABERDEEN,BELFAST CITY (GEORGE BEST),FLYBE LTD
3,ABERDEEN,BIRMINGHAM,FLYBE LTD
4,ABERDEEN,BRISTOL,BMI REGIONAL
...,...,...,...
95,BELFAST INTERNATIONAL,GOOSE BAY,AIR CM GLOBAL LTD
96,BELFAST INTERNATIONAL,BRIDGETOWN,TUI AIRWAYS LTD
97,BELFAST INTERNATIONAL,PLOVDIV,THOMAS COOK AIRLINES LTD
98,BELFAST INTERNATIONAL,PRAGUE,EASYJET UK LTD
99,BELFAST INTERNATIONAL,VILNIUS,WIZZ AIR

In [49]:
# Change labels to Binaries
airports = features['reporting_airport'].drop_duplicates()
airports = pd.concat([airports, features['origin_destination']]).drop_duplicates()
airlines = features['airline_name'].drop_duplicates()

airport_binarizer = LabelBinarizer()
airport_binarizer.fit(airports)

airline_binarizer = LabelBinarizer()
airline_binarizer.fit(airlines)

LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)

In [73]:
reporting_airports = airport_binarizer.transform(list(features['reporting_airport']))
origin_destination = airport_binarizer.transform(list(features['origin_destination']))
airline_name = airline_binarizer.transform(list(features['airline_name']))

reporting_airports = pd.DataFrame(reporting_airports ,columns=["rep_airport " + str(int(i)) for i in range(reporting_airports.shape[1])])
origin_destination = pd.DataFrame(origin_destination ,columns=["origin_destination " + str(int(i)) for i in range(origin_destination.shape[1])])
airline_name = pd.DataFrame(airline_name, columns=["airline_name " + str(int(i)) for i in range(airline_name.shape[1])])
features = pd.concat([reporting_airports, origin_destination, airline_name], axis=1)

,rep_airport 0,rep_airport 1,rep_airport 2,rep_airport 3,rep_airport 4,rep_airport 5,rep_airport 6,rep_airport 7,rep_airport 8,rep_airport 9,...,airline_name 174,airline_name 175,airline_name 176,airline_name 177,airline_name 178,airline_name 179,airline_name 180,airline_name 181,airline_name 182,airline_name 183
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3359,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3360,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3361,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3362,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3363,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
X_train, X_test, y_train, y_test = train_test_split(, y, test_size=0.6, random_state=2)

clf = svm.SVC(gamma=0.00001)
              
clf.fit(X_train, y_train.astype(int))
pred = clf.predict(X_test)
metrics.accuracy_score(pred, y_test.astype(int))

NameError: name 'X' is not defined